.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 60%;
    margin: 10vh auto;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.card_body {
    padding: 40px;
    width: 100%;
    height: 75%;
}

.card_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    margin: 0;
    background-color: rgba(160, 199, 248, 0.8);
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 90px;
}

.nav_action {
    margin-left: auto;
    cursor: pointer;
}

.card_large {
    grid-column: 2 / 4;
}

.card_extra_large{
    grid-column: 1 / 4;
}

.card h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .13px;
    margin: 10px auto;
}

.card h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.card h4 {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: .7;
    letter-spacing: -.27px;
    margin: 0;
    margin-top: 20px;
}

.card h5 {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .23px;
}

.card input,
.card textarea {
    font-size: 1.1rem;
    padding: 8px;
    width: 100%;
    border: 0px solid var(--bgColor);
    border-radius: 6px;
}

.card input:focus,
.card textarea:focus {
    outline: none !important;
    border: 2px solid var(--bgColor);
}

.add_file_btn label {
    cursor: pointer;
}

.avatar_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add_file_btn {
    background-color: var(--AccentColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
}


.drop_area {
    width: 100%;
    height: 100%;
    background-color: var(--AccentColor);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_area p {
    font-size: 3rem;
}

.no_padding {
    padding: 0;
}

.file_preview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

.uploaded_file_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploaded_file_info p {
    margin-top: auto;
}

.additionalTitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.grid_album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 1rem 2rem;
}

.document{
    display: flex;
    align-items: center;
    margin: 0 1rem;
    padding: 0 1rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}

.document:hover{
    background-color: var(--LightNote);
    border: 1px solid var(--LightNote);
    border-radius: 8px;
}

.file_data{
    margin-left: 1rem;
    width: 100%;
    padding: 1rem 0;
}

.border_top{
     border-top: 1px solid var(--LightNote);
}

.border_left{
    border-left: 1px solid var(--LightNote);
}

.file_data h4{
    margin: 0;
}

.file_data p{
    margin: 0;
    color: var(--Note);
}

.prev_container{
    margin: 0 auto;
}

.doc_nav{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--LightNote);
    align-items: center;
}

.icon{
    margin: 0.5rem;
    cursor: pointer;
}

.doc_body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.divider{
    margin-left: auto;
    display: flex;
}

.doc_prev{
    display: flex;
    justify-content: center;
}

.doc_details{
    padding: 0 2rem;
    margin-left: 3rem;
}

.back{
    cursor: pointer;
}

.btns{
    display: flex;
}

.submitDiv {
    margin: 1rem 1rem;
    width: 100%;
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 5px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.cancle{
    background-color: aliceblue;
    background-color: aliceblue;
    border: 0px solid aliceblue;
    color: var(--DarkGray);
}